<div class="container">
  <h1>Japan Pets</h1>
  <div class="d-flex my-4">
    <%= render 'search' %>
    <h3 class="mx-3">Adopting a pet is a wonderful thing. But if you live in Japan and don't speak Japanese well enough, it can be difficult finding the right pet for you on the various websites available. Japan Pets aims to fix that. We've scoured the web and found as many pets available for adoption in Japan and put them all on our site. We don't take care of the pets. We only compile a list of them. For more information, please click on the link and you'll be redirected to the site hosting the pet. Japan Pets was created by and is maintained by volunteers.</h3>
  </div>
  <%# <h3 class="my-3"> Pets Found </h3> %>
  <%= render 'pet-list' %>
</div>
