.pet-container {
  overflow: hidden;
  height: 320px;
  width: 80%;
  background: white;
  box-shadow: 0 0 15px rgba(83, 38, 38, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.pet-container img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.pet-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.pet-container p {
  font-size: 1.5rem;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.pet-container .pet-container-infos {
  padding: 16px;
}
