.search-box {
  padding: 8px;
  color: $brown;
  background-color: $yellow;
  border: solid black 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 10rem;
  max-height: 13rem;
  flex-shrink: 0;
}

.search-box-inputs {
  margin-bottom: 5px;
}
